
<h1>Listing Products</h1>

<div class="container">
<div class="row">
<% @products.each do |product| %>
<div class="col-3 ml-3" >
        <div class="card">
        <div class="card-img-top">
        <%= image_tag(url_for(product.image),width: '180px',height: '150px') if product.image.attached?%></div>
        <div class="card-body">
          <h5 class="card-title"><%=product.title%></h5>
          <p class="card-text"><%=product.description%></p>
          <p><span style="color :blue"><%=product.brand.name%>  </span><span style="color:red;float:right;"><%=product.category.name%></p>
          <%if signed_in?%>
          <%= link_to 'show product details', product_path(product.id)%>
          <%end%>
          </div>
      </div>
        </div>
    <% end %>
      
      </div>
</div>
