<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ELFASHL ELZAREE3 :O</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
  
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item active">
         Home
      </li>
      <li class="nav-item">
      <%= link_to 'New Product', new_product_path %>
      </li>
      <li class="nav-item">
      <%= link_to 'New Category', new_category_path %>
      </li>
      <li class="nav-item">
      <%= link_to 'New Brand', new_brand_path %>
      </li>
      <li class="nav-item">
      <% if user_signed_in? %>

      <%= link_to('Edit registration', edit_user_registration_path) %>
      <br>
      <%= link_to('Logout', destroy_user_session_path, :method => :get) %>        
    
    <% else %>
    
      <%= link_to('Register', new_user_registration_path)  %>
      <br>
      <%= link_to('Login', new_user_session_path)  %>  
    
    <% end %>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
  <br>
    <%= yield %>
  </body>
</html>
